body {
  padding-top: 50px;
}
.GamesContainer {
  padding: 40px 15px;
  text-align: left;
}

#main-container {
	padding-top: 20px;
}

#player-name {
	font-size: 40px;
}

#showcase {
	height: 67px;
	border-style: solid;
	border-width: 2px;
	border-color: #C0C0C0;
	vertical-align: text-middle;
	text-align: center;
}