body {
  padding-top: 50px;
}

#indexMainContainer {
  padding: 40px 15px;
  text-align: center;
}

#main-container {
	padding-top: 20px;
}

.glyphicon.glyphicon-ok {
	color: green;
}

.glyphicon.glyphicon-remove {
	color: red;
}

th {
	text-align: center;
}

.glyphicon.glyphicon-triangle-bottom {
	color: red;
}

.glyphicon.glyphicon-triangle-top {
	color: green;
}

.tab{
	padding-top: 30px;
	border-color: #F0AB00;
}

#player-name {
	font-size: 40px;
}

#showcase {
	height: 67px;
	border-style: solid;
	border-width: 1px;
	border-color: #F0AB00;
	vertical-align: text-middle;
	text-align: center;
}
.fright {
	float: right;
}

.stats-padding {
	padding-left:40px;
}

.navbar-inverse {
	/* background-color: #008FD3; */
	color: #FFFFFF;
}

#mygrad {
	background: #00b5ef;
	background: -moz-linear-gradient(top, #00b5ef 0%, #1c63bd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b5ef), color-stop(100%,#1c63bd));
background: -webkit-linear-gradient(top, #00b5ef 0%,#1c63bd 100%);
background: -o-linear-gradient(top, #00b5ef 0%,#1c63bd 100%);
background: -ms-linear-gradient(top, #00b5ef 0%,#1c63bd 100%);
background: linear-gradient(to bottom, #00b5ef 0%,#1c63bd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b5ef', endColorstr='#1c63bd',GradientType=0 );
}

.navbar-inverse .navbar-brand{
	color: #FFFFFF;
}

.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-inverse li {
	color: #FFFFFF;
}

.list-group-item.active, .list-group-item.active:hover {
 background-color: #F0AB00;
 border-color: #F0AB00;
}

.list-group-item{
 border-color: #F0AB00; 
}

thead {
 background-color: #F0AB00;
}

.panel-heading {
	background-color: #F0AB00;
}

.panel-primary > .panel-heading {
 background-color: #F0AB00;
 border-color: #F0AB00;
}

.panel-primary {
 border-color: #F0AB00;
}
.navbar-inverse .navbar-nav > li > a {
 color: #FFFFFF;
}

.navbar-inverse li{
 color: #FFFFFF;
}

.list-group-item.active, .list-group-item.active:hover {
 background-color: #F0AB00;
 border-color: #F0AB00;
}

.list-group-item{
 border-color: #F0AB00; 
}

thead {
 background-color: #F0AB00;
}